a{
    text-decoration-line: none;
padding:8px;
    background-color: rgb(197, 15, 52);
    color: white;
    
}
a:active{
    background-color:rgb(216, 111, 132); 
}
a:hover{
    background-color: rgb(216, 111, 132); 

}