body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
color:crimson;
padding:3px;
background-color: rgb(190, 189, 189);
}
.mat-card{
    width: 15vw;
    background-color:white;
    text-align: center;
}